# Ejercicios listas

1. Duplicar elementos de una lista

In [69]:
lista = [2, 4, 6, 8]
lista.extend(lista)

2. Combinar dos listas

In [70]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

lista_total = lista1 + lista2
print(lista_total)

[1, 2, 3, 4, 5, 6]

3. Calcular la suma de una lista de números

In [71]:
lista1 = [1, 2, 3]
valor_lista1 = [1+2+3]
print(valor_lista1)

[6]

4. Encontrar el valor máximo de una lista

In [72]:
valor_maximo = max(lista_total)
print(valor_maximo)

6

5. Calcular la longitud de una lista

In [73]:
len(lista_total)

6

6. Encontrar el índice de un elemento en una lista

In [74]:
# Valor objetivo escogido: 2
lista_total.index(2)

1

7. Contar ocurrencias de un elemento en una lista

In [75]:
# Definir la lista
lista_nombres = ["Maria", "Anna", "Inés", "Anna", "Anna", "Inés", "Fedra", "Anna"]

# ¿Cuántas veces aparece "Anna"?
lista_nombres.count("Anna")

4

8. Obtener una sublista de una lista (dada una lista, crea una nueva lista que contenga los elementos desde el índice 2 hasta el índice 5, sin incluirlo)

In [76]:
sublista_nombres = lista_nombres.copy()
sublista_nombres[2:5]

['Inés', 'Anna', 'Anna']

9. Obtener el último elemento de una lista

In [77]:
sublista_nombres[-1]

'Anna'

10. Obtener el último elemento de una lista

In [78]:
sublista_nombres[len(sublista_nombres)-1]

'Anna'

11. Obtener una sublista de una lista (dada una lista, crea una nueva lista que contenga los elementos desde el índice 1 hasta el índice 3, sin incluirlo)

In [79]:
sublista_nombres = lista_nombres.copy()
sublista_nombres[1:3]

['Anna', 'Inés']

12. Reemplazar un elemento en una lista

In [80]:
# Nuestra lista
lista_nombres

# Queremos reemplazar "Maria" por "Marina", así que primero eliminamos "Maria":
lista_nombres.pop(0)

# Lo siguiente es añadir a "Marina" en la misma posición:
lista_nombres.insert(0, "Marina")

# La lista se vería:
print(lista_nombres)

['Marina', 'Anna', 'Inés', 'Anna', 'Anna', 'Inés', 'Fedra', 'Anna']

13. Obtener una lista inversa

In [81]:
# Primero hacemos una copia de la lista original, para que el reverse no la modifique
lista_nombres_inversa = lista_nombres.copy()

# Después aplicamos reverse a la nueva lista, para que lo ordene a la inversa
lista_nombres_inversa.reverse()

print(lista_nombres_inversa)

['Anna', 'Fedra', 'Inés', 'Anna', 'Anna', 'Inés', 'Anna', 'Marina']

14. Ordena una lista en orden ascendente

In [82]:
# Creamos una lista de números desordenados
numeros_1 = [2, 5, 1, 0, 11, 10, 9, 3]

# Aplicamos sort para que la lista se sobreescriba y pase a tener los números ordenados
numeros_1.sort()

print(numeros_1)

[0, 1, 2, 3, 5, 9, 10, 11]

# Ejercicios tuplas

1. Acceder al primer elemento de una tupla

In [83]:
tupla_1 = ("manzanas", "peras", "plátanos", "uvas")

tupla_1[0]

'manzanas'

2. Acceder al último elemento de una tupla

In [84]:
tupla_1[-1]

'uvas'

3. Obtener la longitud de una dupla (obtener la cantidad de elementos)

In [85]:
len(tupla_1)

4

4. Concatenar dos tuplas

In [86]:
tupla_1
tupla_2 = ("tomates", "ajos", "chile", "limas")

tupla_lista_compra = tupla_1 + tupla_2

print(tupla_lista_compra)

('manzanas', 'peras', 'plátanos', 'uvas', 'tomates', 'ajos', 'chile', 'limas')

5. Encontrar el índice de un elemento en una tupla (dada una tupla y un valor objetivo, encuentra el índice del primer elemento que coincida con el valor objetivo)

In [87]:
# Valor objetivo escogido: "ajos"
tupla_lista_compra.index("ajos")

5

6. Contar ocurrencias de un elemento en una tupla

In [88]:
# Definir una nueva tupla, duplicando la anterior
tupla_lista_compra2 = tupla_lista_compra * 2 

# ¿Cuántas veces aparece "limas"?
tupla_lista_compra2.count("limas")

2

7. Obtener una subtupla de una tupla (crear una nueva tupla que contenga los elementos desde el índice 1 hasta el índice 3 sin incluirlo)

In [89]:
sub_tupla_lista_compra2 = tupla_lista_compra2
sub_tupla_lista_compra2[1:3]

('peras', 'plátanos')

8. Invertir una tupla (invierte el orden de una tupla)

In [91]:
# Definimos la tupla
print(tupla_lista_compra)

# Convertimos la tupla a lista
lista_tupleada = list(tupla_lista_compra)

# Invertimos el orden de la lista
lista_tupleada.reverse()

# Re-convertimos la lista a tupla
tuple(lista_tupleada)

('manzanas', 'peras', 'plátanos', 'uvas', 'tomates', 'ajos', 'chile', 'limas')

('limas', 'chile', 'ajos', 'tomates', 'uvas', 'plátanos', 'peras', 'manzanas')